
# Smithing Transform
public net.minecraft.world.item.crafting.SmithingTransformRecipe template
public net.minecraft.world.item.crafting.SmithingTransformRecipe base
public net.minecraft.world.item.crafting.SmithingTransformRecipe addition

# Smithing Trim
public net.minecraft.world.item.crafting.SmithingTrimRecipe template
public net.minecraft.world.item.crafting.SmithingTrimRecipe base
public net.minecraft.world.item.crafting.SmithingTrimRecipe addition

# Post processing
public net.minecraft.client.renderer.GameRenderer effectActive